* {
  outline: none !important;
  color: #333333;
}

/*
* App Title
*/
.apptitle {
  font-size: 48px;
}

/*
* Fonts
*/
.raleway {
  font-family: 'Raleway', sans-serif !important;
}
.lobster {
  font-family: 'Lobster', cursive !important;
}

/*
* Pie List
*/
.pie-list {
  max-width: 1024px;
}
.pie-card {
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pie-card-title {
  max-width: 210px;
  overflow-wrap: break-word;
}
.pie-card-price {
  font-size: 18px;
}
.pie-card-description {
  font-size: 14px;
}

/*
* Pagination
*/
.pagination-btn {
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 0;
  border-color: #333333 !important;
  background: #F2F2F2 !important;
  margin-right: -1px;
}
.pagination-btn-selected {
  background: #333333 !important;
  color: #F2F2F2 !important;
}

/*
* Filters
*/
.filter-form {
  max-width: 300px;
}
@media (max-width: 767px) {
  .filter-form-group {
    max-width: 300px;
  }
}
